<%= inspect @tally %>

<p>
  Turns left: <%= @tally.turns_left %>
</p>
<p>
  Words so far: <%= words_so_far(@tally.letters) %>
</p>

<%= form_for(@conn, Routes.hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn f -> %>
  <%= text_input(f, :guess) %>
  <%= submit("Make next move") %>
<%= end) %>
